*{
    margin:0;
    padding:0;
}

p{
    font-size: 1rem;
}
h1{
    font-size: 3rem;
}


.navbar{
    min-height: 3rem;
    background-color: darken($primary, 20%);
    font-size: 1.6rem;

    @media screen and (max-width: $breakpoint-md){
        .navbar-inner, .nav{
            flex-direction: column;
        }
    }
}
.navbar-inner{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.nav{
    display:flex;
    list-style: none;
}
.nav-item{
    padding-left: 1rem;
}
.nav-link{
    text-decoration: none;
    &:hover{
        background-color: darken($primary, 10%);
    }
}


